# DO API v2 settings
do_api_token: ~

# DO SSH key settings
do_ssh_name: ansible
do_ssh_pub_key: "{{ lookup('file', '~/.ssh/id_dsa.pub') }}"
do_ssh_private_key: "~/.ssh/id_dsa"

# DO droplet settings
do_region: ams2
do_size: 512mb
do_image: "ubuntu-14-04-x64"

# Swap settings
swapfile_location: /swapfile
swapfile_size: 4G
swapfile_swappiness: 10
swapfile_vfs_cache_pressure: 50

# System user to create
ssh_user: "{{ lookup('env', 'USER') }}"
ssh_groups: "sudo"
ssh_pub_key: "{{ lookup('file', '~/.ssh/id_dsa.pub') }}"
